.navbar {
    grid-area: navbar;
    padding: 20px;

    background-color: #d4d8dd;   
}
.navigation {
    margin-bottom: 60px;
}

.navigation__item:not(:last-child) {
    margin-bottom: 10px;
}
.navigation__item:nth-last-child(2) {
    margin-bottom: 20px;
}

.navigation__link {
    text-transform: uppercase;

    font-size: 16px;
    font-family: sans-serif;
    color: #000;
}
.navigation__link:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
    color: #c4a702
}

.friends__items {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
    overflow-x: auto;
}

.friends__title {
    margin-bottom: 10px;

    font-weight: normal;
    font-size: 24px;
    font-family: sans-serif;
}
