.post:not(:last-child) {
    margin-bottom: 30px;
}

.post {
    position: relative;

    display: flex;
    align-items: center;
    gap: 20px;
}

.img__wrap {
    flex: 10% 1 1;
}


.text {
    flex: 90% 1 1;

    font-size: 16px;
    line-height: 24px;
}

.likes {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 18px;
}
.likes__icon {
    width: 30px;
    height: 30px;
}
.likes__icon img:active {
    background-color: #969696;
}