.registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    min-width: 500px;
    padding: 70px 100px;
    border-radius: 10px;
    
    background-color: #E8EAED;
}
.form__legend {
    margin-bottom: 40px;

    font-size: 24px;
}

.form__field{
    margin-bottom: 30px;
}


.form__field input {
    min-width: 350px;

    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid transparent;

    font-size: 16px;
}
.form__field input:focus {
    outline: none;
    border-color:rgb(182, 182, 182);
}

.form__btn {
    margin-top: 40px;
}

.form__btn button {
    display: block;
    width: 100%;
    padding: 15px 0 15px 0;
    border-radius: 10px;

    color: #fff;
    font-size: 16px;

    background-color: #C4A702;
}
.form__btn button:hover {
    background-color: #a78e02;
}

.form__btn button:active {
    background-color: #8d7801;
}